



<!-- Essential Tools -->
<div class="bg-white py-30">
    <div class="container mx-auto px-4 lg:px-8">
     
      <!-- Title -->
      <div class="text-center lg:text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
          All the essential tools
        </h2>
        <p class="mt-2 text-lg text-gray-500">
          Odio vulputate cras vel lacinia turpis volutpat adipiscing. Sollicitudin at velit, blandit tempus nunc in.
        </p>
      </div>
  
      <!-- Content -->
      <div class="mt-8 lg:flex lg:items-center lg:justify-between">
        <div class="lg:w-1/2 mb-8 lg:mb-0">
          <img src="/public/phone_2.svg" alt="Phone with app previews" class="rounded-lg " />
        </div>
        <div class="lg:w-1/2 lg:ml-8">
          <div class="mb-6">
            <h3 class="font-semibold text-gray-800 text-xl">Sem augue tempus</h3>
            <p class="mt-2 text-gray-600">
              Venenatis blandit habitasse nunc, sapien enim elit in. Arcu, pharetra, et cursus sit senectus in blandit. Aliquet enim fermentum non semper nibh ut neque. Pellentesque ut tincidunt vitae arcu bibendum malesuada lorem sapien volutpat.
            </p>
          </div>
          <div class="mb-6">
            <h3 class="font-semibold text-gray-800 text-xl">Habitat integer interdum a</h3>
            <p class="mt-2 text-gray-600">
              ... (Add description for this feature here) ...
            </p>
          </div>
          <div>
            <h3 class="font-semibold text-gray-800 text-xl">Tempus natoque id</h3>
            <p class="mt-2 text-gray-600">
              ... (Add description for this feature here) ...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

