


// Footer
<footer class="bg-white py-8">
  <div class="container mx-auto px-4 lg:px-8">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8">
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Categories</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">User Interface</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">User Experience</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Digital Media</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Lifestyle</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Programming</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Animation</a></li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Product</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Pricing</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Overview</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Browse</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Accessibility</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Five</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Changelog</a></li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Solutions</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Brainstorming</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Ideation</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Wireframing</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Research</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Design</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Concept</a></li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Resources</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Help Center</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Blog</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Tutorials</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">FAQs</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Community</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Events</a></li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Support</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Contact Us</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Developers</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Documentation</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Integrations</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Reports</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Webinar</a></li>
        </ul>
      </div>
      <div>
        <h6 class="font-semibold text-gray-700 mb-4">Company</h6>
        <ul>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">About</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Press</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Events</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Careers</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Customers</a></li>
          <li><a href="#" class="block text-gray-600 hover:text-blue-500 mb-2">Partners</a></li>
        </ul>
      </div>
    </div>


    <div class="mt-8 py-4 border-t border-gray-200 flex items-center justify-between text-sm text-gray-500">
      <p class="text-blue-500 font-semibold">Appy</p>
      <p>© 2023 All rights reserved.</p>
      <div class="flex space-x-4">
        <a href="#" class="hover:text-gray-700"> <img src="public/youtube.svg" alt=""></a>
        <a href="#" class="hover:text-gray-700"> <img src="public/facebook.svg" alt=""></a>
        <a href="#" class="hover:text-gray-700"> <img src="public/instagram.svg" alt=""></a>
        <a href="#" class="hover:text-gray-700"> <img src="public/twitter.svg" alt=""></a>
        <a href="#" class="hover:text-gray-700"> <img src="public/linkedin.svg" alt=""></a>
        <a href="#" class="hover:text-gray-700"> <img src="public/pinterest.svg" alt=""></a>
    </div>


  </div>
</footer>