

<!-- Questions -->
<section>
  <div class="bg-white py-20">
    <div class="container mx-auto px-4 lg:px-8">
      <h2 class="text-5xl font-bold text-gray-900 text-center mb-8">
        Answers to your questions
      </h2>

      <div class="space-y-4">
        
        <div class="bg-gray-50 rounded-lg">
          <button
            class="flex items-center justify-between w-full p-4 text-left focus:outline-none"
          >
            <span class="font-semibold text-blue-500"
              >Enim sodales consequat adipiscing facilisis massa venenatis, non
              lorem lobortis?</span
            >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>


          <div class="p-4 text-blue-500 hidden">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

        <div class="bg-gray-50 rounded-lg">
          <button
            class="flex items-center justify-between w-full p-4 text-left focus:outline-none"
          >
            <span class="font-semibold text-blue-500"
              >Venenatis nulla sagittis nunc, lobortis nec sollicitudin neque,
              dolor?</span
            >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div class="p-4 text-blue-500 hidden">
            <p class="text-blue-500">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>

        <div class="bg-gray-50 rounded-lg">
          <button
            class="flex items-center justify-between w-full p-4 text-left focus:outline-none"
          >
            <span class="font-semibold text-blue-500"
              >Varius ultricies molestie tellus fermentum, viverra ipsum
              scelerisque etiam lorem?</span
            >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div class="p-4 text-blue-500 hidden">
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>
          </div>
        </div>

        <div class="bg-gray-50 rounded-lg">
          <button
            class="flex items-center justify-between w-full p-4 text-left focus:outline-none"
          >
            <span class="font-semibold text-blue-500"
              >Nulla etiam vitae, at sagittis, nibh ultrices mattis feugiat
              faucibus?</span
            >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div class="p-4 text-blue-500 hidden">
            <p>
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

        <div class="bg-gray-50 rounded-lg">
          <button
            class="flex items-center justify-between w-full p-4 text-left focus:outline-none"
          >
            <span class="font-semibold text-blue-500"
              >Sagittis consectetur gravida nec turpis eros, id sit et, dictum?</span
            >
            <svg
              class="w-5 h-5 text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div class="p-4 text-blue-500 hidden">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium.
            </p>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</section>
