


<!-- Start now -->
<div class="bg-gray-100 py-12">
    <div class="container mx-auto px-4 lg:px-8">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="lg:w-1/2 text-center lg:text-left">
          <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
            Start now and get the best services
          </h2>
          <p class="mt-3 text-lg text-gray-500">
            Ac urna elementum purus vulputate tincidunt. Quam maecenas feugiat congue orci, eget tellus pellentesque aliquet. Felis fringilla morbi dui ac consequat risus pharetra odio pulvinar. Id pellentesque in tortor nec nulla cras sapien. Adipiscing nisi tellus quisque aliquet sit risus elementum scelerisque.
          </p>
          
          <!-- Button -->
          <div class="mt-6">
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-md">
              Get Started
            </button>
          </div>
  
  
        </div>
        
        <div class="lg:w-1/2 mt-8 lg:mt-0">
          <img src="/public/phone_4.svg" alt="Phone with app previews" class="rounded-lg " />
        </div>
      </div>
    </div>
  </div>
  