
<!-- Success Stories -->
<div class="bg-gray-100 py-12">
    <div class="container mx-auto px-4 lg:px-8">
      <div class="bg-gray-100 rounded-lg  overflow-hidden">
        
        
        <div class="relative lg:flex lg:items-center ">
          <div class="lg:w-1/2">
            <img src="/public/picture.png" alt="Woman pointing" class="block w-full rounded-tl-lg rounded-bl-lg" />
          </div>
  
          
          <div class="lg:w-1/2 p-8">
            <h3 class="text-sm font-semibold text-blue-500 uppercase tracking-wider mb-4">Success Stories</h3>
            <div class="relative">
  
              <blockquote>
                <p class="text-lg text-gray-700 font-medium leading-relaxed">
                  " Id urna, nisl, ut quam. Diam suspendisse fringilla quam arcu mattis est velit in. Nibh in purus sit convallis phasellus ut. At vel erat ultricies commodo. Neque suspendisse a habitasse commodo."
                </p>
              </blockquote>
            </div>
            <div class="mt-6">
              <p class="text-gray-600 font-semibold">Marie Poirot,</p>
              <p class="text-gray-500 text-sm">Bigapp</p>
            </div>
          </div>
  
  
  
        </div>
  
  
        <div class="flex justify-between items-center mt-4 px-4 lg:px-0">
          <button class="text-gray-400 hover:text-gray-500 focus:outline-none">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
          </button>
          <div class="flex space-x-2">
            <button class="w-3 h-3 rounded-full bg-blue-500 focus:outline-none"></button>
            <button class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-400 focus:outline-none"></button>
            <button class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-400 focus:outline-none"></button>
            <button class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-400 focus:outline-none"></button>
          </div>
          <button class="text-gray-400 hover:text-gray-500 focus:outline-none">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
  
  
  
      </div>
    </div>
  </div>
  






